
<nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <img src="https://img.freepik.com/free-vector/arms-hugging-heart_1025-665.jpg?t=st=1715608076~exp=1715611676~hmac=d3f2cb49fe3eafa52d42b2be9e3cee6fb05332098adb8a6b2818eafde25bf428&w=740" style="width: 70px;height: 70px;" alt="">
      </div>
      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/registration">Registration</a></li>
          <li><a href="/tasks">See Available Tasks</a></li>
          <!-- Add more links as needed -->
        </ul>
      </div>
      <div class="navbar-login">
        <a href="/login">Login</a>
      </div>
    </div>
  </nav>
  

<div class="task-container">
    <div class="task-card" *ngFor="let task of tasks">
      <div class="card-body">
        <h5>{{ task.name }}</h5>
        <p>Description: {{ task.description }}</p>
        <p>Location: {{ task.location }}</p>
        <p>Number Of volunteers needed: {{ task.numberOfVacancies }}</p>
      </div>
    </div>
  </div>
  