
<!-- navbar.component.html -->

<!-- navbar.component.html -->

<nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <img src="https://img.freepik.com/free-vector/arms-hugging-heart_1025-665.jpg?t=st=1715608076~exp=1715611676~hmac=d3f2cb49fe3eafa52d42b2be9e3cee6fb05332098adb8a6b2818eafde25bf428&w=740" style="width: 70px;height: 70px;" alt="">
      </div>
      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/registration">Registration</a></li>
          <li><a href="/tasks">See Available Tasks</a></li>
          <!-- Add more links as needed -->
        </ul>
      </div>
      <div class="navbar-login">
        <a href="/login">Login</a>
      </div>
    </div>
  </nav>
  
  

<header>
    <div class="header-content">
      <div class="left-section">
        <h1>Welcome to our website</h1>
      </div>
      <div class="right-section">
        <img src="https://img.freepik.com/free-vector/volunteers-with-charity-icons-illustration_53876-43180.jpg?t=st=1715600528~exp=1715604128~hmac=6987b8dc9753a3b74169f07db00a0619d9e137a02e8516bedadedff7bcc76a26&w=900" alt="Logo">
      </div>
    </div>
  </header>

  <div class="main-content">
    <!-- Add more content here -->
  </div>
  
